---
import IconLink from "@components/Base/IconLink.astro";
import Icon from "@components/Icon/Icon.astro";
---
<section id="use-tech">
    <h2 class="title">Use</h2>
    <h3>服务</h3>
    <div class="card-container">
        <IconLink text="Github" href="https://github.com/DORAKIKA">
            <Icon name="Github"/>
        </IconLink>
        <IconLink text="Vercel" href="https://vercel.com/dashboard">
            <Icon name="Vercel"/>
        </IconLink>
    </div>
</section>
<h3>服务</h3>
    <div class="card-container">
        <IconLink text="Github" href="https://github.com/DORAKIKA">
            <Icon name="Github"/>
        </IconLink>
        <IconLink text="Vercel" href="https://vercel.com/dashboard">
            <Icon name="Vercel"/>
        </IconLink>
    </div>
</section>
<h3>服务</h3>
    <div class="card-container">
        <IconLink text="Github" href="https://github.com/DORAKIKA">
            <Icon name="Github"/>
        </IconLink>
        <IconLink text="Vercel" href="https://vercel.com/dashboard">
            <Icon name="Vercel"/>
        </IconLink>
    </div>
</section>


<style>
    
.card-container{
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}
</style>
